* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
textarea {
  resize: none;
}
form {
  background-color: antiquewhite;
  width: 450px;
  margin: auto;
  padding: 30px;
  border-radius: 30px;
}
h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Lobster", cursive;
}
.button {
  /* height: 400px;
    width: 70px; */
  padding: 20px;
  border-radius: 30px;
  border: none;
}
.button:hover {
  background-color: rgba(29, 117, 117, 0, 8);
  color: chocolate;
  box-shadow: 5px 5px 50px;
}
